/* CSS Document */
.wrapper
{ /*float:left;*/
height:900px;
width:990px;
padding:0px;
margin:0px;
margin-left:auto; 
margin-right:auto;
background:#FFFFFF;
border:0px solid #FFFFFF;
}

.head
{
float:leftl;
height:190px;
width:990px;
padding:0px;
margin:0px;
border:0px solid #FFFFFF;
}

.container
{
float:left;
height:670px;
width:990px;
padding:0px;
margin:0px;
border:0px solid #0000CC;
}

/*.left
{
float:left;
height:700px;
width:100px;
padding:0px;
margin:0px;
border:0px solid #FFFFFF;
}*/

.content
{
float:left;
height:670px;
width:750px;
padding:0px;
margin:0px;
border:0px solid #FFFFFF;
}

/*.lable
{
border-style:solid;
width:30px;
vertical-align:middle;
background-color:#FFFFFF;
}*/

.right
{
float:left;
height:670px;
width:240px;
padding:0px;
margin:0px;
border:0px solid #FFFFFF;
}



.layer
{
margin-left:500px;
/*margin-top:20px;*/
/*margin-bottom:20px;*/
height:10px;
width:990px;
padding:0px;
margin:0px;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:14px;
}

.layer1
{
float:left;
height:130px;
width:990px;
padding:0px;
margin:0px;
}

.logo
{
font-family:"Times New Roman", Times, serif;
font-size:16mm;
color:#003333;
}

.layer2
{
float:left;
height:40px;
width:990px;
padding:0px;
margin:0px;
}

/*.menu2
{
float:left;
margin-top:5px;
padding:2px;
margin-left:15px;
}

.name
{
float:left;
margin-top:5px;
padding:2px;
margin-left:15px;
margin-top:10px;
}*/


.footer1
{
float:left;
height:20px;
width:985px;
padding:1px;
margin:1px;
background:#FFFFFF;
}

.footer2
{
float:left;
height:20px;
width:985px;
padding:1px;
margin:1px;
background:#FFFFFF;
}

